* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    background-color: #F3F0E7;
}

form {
    border-radius: 10px;
    width: 90%; /* Adjust width as needed */
    max-width: 400px; /* Set maximum width */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
}

form h1 {
    text-align: center;
    color: #BABECC;
}

.div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.div input {
    padding: 1rem 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #EBECF0;
}

.div label {
    color: black;
}

#email, #password , #name , #password_confirmation , #Phone {
    margin-right: 8px; /* Corrected margin value */
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

#email:focus, #password:focus , #name:focus , #password_confirmation:focus , #Phone:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px; /* Increase border radius for a more rounded shape */
    padding: 16px;
    background-color: #BABECC;
    text-shadow: 1px 1px 0 #FFF;
}

.login , .register {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px; /* Increase border radius for a more rounded shape */
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    color: #AE1100;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
}


.login:hover , .register:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.login:active , .register:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    form {
        width: 90%;
        max-width: none;
    }
}


.forgot {
    text-align: center;
}

.createaccount {
    text-align: center;
}


#selectoption {
    width: 50%;
}